@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: aquamarine;
  margin-inline: 24px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.page_grid {
  max-width: 1560px;
  margin: auto;
  display: grid;
  grid-template-columns: 1.5fr 5fr 75px;
  grid-template-rows: 1fr;
  grid-column-gap: 24px;
}
