@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: aquamarine;
  margin-inline: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.page_grid {
  max-width: 1560px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.portfolio_grid {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.portfolio_card_grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
}

.main_grid {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.main_grid_left {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 12px;
}

@media (min-width: 1360px) {
  .page_grid {
    display: grid;
    grid-template-columns: 1.5fr 5fr 75px;
    grid-template-rows: 1fr;
  }
}

@media (min-width: 1024px) {
  .portfolio_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

@media (min-width: 1520px) {
  .main_grid {
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    grid-template-rows: 1fr;
  }
}
